<div class="container">
    <h1> Bem vindo(a)!</h1>
    <!-- <h2>{{ data | date : 'dd    /MM/YYYY' }}</h2> -->
    <section id="motos-favoritos">
        <h2>Suas motos favoritas:</h2>

        
        <mat-grid-list cols="3" rowHeight="3:4">
            <div *ngFor="let bike of motos; let i = index">
                <mat-grid-tile *ngIf="bike.favorito ===true">
                    <mat-card>
                        <img mat-card-image [src]="bike.foto" [alt]="bike.titulo" />
                        <mat-card-content>
                            <h3>{{ bike.titulo }}</h3>
                            <ul>
                                <li>Marca: {{ bike.Marca }}</li>
                                <li>Velocidade máxima: {{ bike.Velocidademax }}Km/h</li>
                                <li>Quilômetros por litro: {{ bike.Kml }} Km/l</li>
                                <li>Preço: {{ bike.preco | currency }}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button
                                [class]="bike.favorito === false ? 'favorite' : 'favorite-checked'"
                                [title]="bike.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                mat-button
                                (click)="toogleFavorito(i)">
                            <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                        </button> 
                            <button mat-button (click)="verDetalhes(bike.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </section>
    <section id="lista-motos">
        <h2>Todas as motos:</h2>
        <mat-grid-list cols="3" rowHeight="3:4">
            <mat-grid-tile *ngFor="let bike of motos; let i = index">
                <mat-card>
                    <img mat-card-image [src]="bike.foto" [alt]="bike.titulo" />
                    <mat-card-content>
                        <h3>{{ bike.titulo }}</h3>
                        <ul>
                            <li>Marca: {{ bike.Marca }}</li>
                            <li>Velocidade Máxima: {{ bike.Velocidademax }}km/h</li>
                            <li>Quilômetros por litro: {{ bike.Kml}}km/l</li>
                            <li>Preço: {{ bike.preco | currency }}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button
                            [class]="bike.favorito === false ? 'favorite' : 'favorite-checked'"
                            [title]="bike.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                            mat-button
                            (click)="toogleFavorito(i)">
                            <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                        </button> 
                        <button mat-button (click)="verDetalhes(bike.id)">Mais detalhes</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        
    </section>
</div>



<!--
<div class="flipCard">
    <div class="flipCardInner" id="flipCardInner">
        <div class="flipCardFront" id="flipCardFront">
            <div id="carouselExample" class="carousel slide" id="carouselCard">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img [src]="carro.fotoExterna" class="d-block w-100" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <mat-card-content>
                <h2>{{ carro.titulo }}</h2>
                <ul>
                    <li><strong>Modelo : {{carro.ano}}</strong></li>
                    <li><strong>Cor : {{carro.cor}}</strong></li>
                    <li><strong>Home price: {{carro.valor}}</strong></li>
                </ul>
                <mat-card-actions>
                    <button [class]="carro.favorito === false ? 'favorite' : 'favorite-checked'"
                        [title]="carro.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                        mat-button (click)="toogleFavorito(i)">
                        <mat-icon aria-hidden="false" aria-label="Favoritos"
                            fontIcon="star"></mat-icon>
                    </button>
                    <button onclick="rotateCard()" type="button" id="detailsButton"
                        class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Detalhes
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </div>

        
        <div class="flipCardBack" id="flipCardBack">
            <div class="backCardBody">
                <img [src]="carro.fotoTraseira" class="d-block w-100" alt="">
                <img [src]="carro.fotoInterna" class="d-block w-100" alt="">
            </div>
            <h2 class="detailsTitle">Detalhes</h2>
            <ul>
                <li>Ano : {{carro.ano}}</li>
                <li>Portas: {{carro.portas}}</li>
                <li>Cor: {{carro.cor}}</li>
            </ul>
            <br>
            <div class="detailsArticle">
                <article>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.
                    It has survived not only five centuries, but also the leap into electronic
                    typesetting.
                </article>
            </div>

        </div>
        <mat-card-content>
        </mat-card-content>
    </div>
</div>
-->